<h1>Aboutus</h1>
<p>The CanCan generator will provide the structure for your Ability class. At a basic level then, all you need to do is implement the constructor. Here we can see a few things…

As is recommended in the CanCan documentation, the case where a current_user is nil is handled.
A user can perform all actions (:manage) the Article model
Users cannot perform any actions on the Comment model.
Users can read instances of the Tag model where baz.released is true</p>
