<h1>Help</h1>
<p>The Devise project is well documented, so take some time to explore the project’s README as well as the project’s wiki pages. The wiki pages and Extensions will provide good examples of some customizations that are possible.

Here are just a few examples of possible ways to customize devise:

changing the names of the devise urls
having multiple roles (admins, users, etc)
changing the password requirements
authenticating with a username instead of an email</p>
